[submodule "ARC-AGI"]
	path = ARC-AGI
	url = https://github.com/fchollet/ARC-AGI.git
[submodule "Llama-3.2-3B-ARChitects-ReArc-bnb-4bit"]
	path = Llama-3.2-3B-ARChitects-ReArc-bnb-4bit
	url = git@hf.co:da-fr/Llama-3.2-3B-ARChitects-ReArc-bnb-4bit
